@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

/********************/
:root {
  /* colors */
  --primary-right: #50b6ff;
  --primary-normal: #1a9fff;
  --primary-strong: #008ef5;
  --primary-heavy: #0083e1;
  
  --status-alert:#eb5147;
  --status-caution:#fa9538;
  --status-positive:#3dc061;
  
  --text-strong:#ffffff;
  --text-normal:#f7f7f7;
  --text-alternative:#a5a5a5;
  --text-assistive:#656565;
  --text-disable:#3a3a3a;

  --bg-primary:#0f0f10;
  --bg-secondary:#1e1e1f;
  --bg-teritary:#333335;

  
}

/*************Reset style code ************/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:"Pretendard", sans-serif;
  background: var(--bg-primary);
  color:var(--text-normal);
}

ol, ul{
  list-style: none;
}

a{
  color:inherit;
  text-decoration: none;
}

em, strong, i, b{
  font-style: normal;
  font-weight: normal;
}

img{
  display: block;
}

input, textarea, button, select,
input::placeholder, textarea::placeholder{
  border: none;
  color: inherit;
  font-family: "Pretendard", sans-serif;
  background:var(--bg-primary);
  outline:0;
}